.catalog {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: var(--backgraund-portfolio);
}
/* ======filter====== */
.filter {
    display: flex;
    column-gap: 8px;
    margin-bottom: 50px;
}
 
.button-container {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.filter-button {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
   letter-spacing: 0.03em;
   background:var(--background-color-grey);
   border-radius: 4px;
   color: var(--title-color);
   padding: 6px 22px;
   border: none;
   
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   &:hover,
   &:focus {
   color: var(--text-color-white);
   background-color:var(--active-color-blue);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
}

/* ======filter====== */

/* =======project====== */
.project {
    flex-basis: calc((100% - 60px)/3)
}

.project-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.project-link {
   box-shadow: 0;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   &:hover,
   &:focus {
   display: block;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
}

.project-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(33, 150, 243, 0.9);
    color:var(--text-color-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 24px;
    display: flex;
    align-items: center;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-link:hover &,
    .project-link:focus & {
    transform: translateY(0%);} 
}

.project-cintainer {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.project-caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color);
    margin-bottom: 4px;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--text-color-grey);
    border-radius: 4px;
}
/* =======/project====== */