.section-work {
    padding-bottom: 95px;
}

.headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    column-gap: 30px;
}

.work-list-item {
    flex-basis: 370px;
    position: relative;
}

.work-list-item__overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    background-color:rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
